<template>
  <div class="flex items-center mt-8">
    <h2 class="intro-y text-lg font-medium mr-auto">Request for help</h2>
  </div>
  <!-- BEGIN: Wizard Layout -->
  <div class="intro-y box py-10 sm:py-20 mt-5">
    <div
      class="relative before:hidden before:lg:block before:absolute before:w-[60%] before:h-[4px] before:top-0 before:bottom-0 before:mt-4 before:bg-slate-100 before:dark:bg-darkmode-400 flex flex-col lg:flex-row justify-center px-5 sm:px-20"
    >
      <!-- step 1 -->
      <div 
        class="intro-x lg:text-center flex items-center lg:block flex-1 z-10"
      >
        <button 
          @click="stepVal(1)"
          class="w-10 h-10 rounded-full"
          :class="{ 'btn-primary' : step == 1, 'text-gray-600 bg-gray-200': step != 1 }"
        >
         1
        </button>
        <div 
          class="lg:w-32 text-base lg:mt-3 ml-3 lg:mx-auto text-slate-600 dark:text-slate-400"
          :class="{ 'font-medium' : step == 1, 'text-base': step != 1}"
        >
          Consent
        </div>
      </div>
      <!-- step 2 -->
      <div
        class="intro-x lg:text-center flex items-center mt-5 lg:mt-0 lg:block flex-1 z-10"
      >
        <button
          @click="stepVal(2)"
          class="w-10 h-10 rounded-full btn dark:bg-dark-1"
          :class="{ 'btn-primary' : step == 2, 'text-gray-600 bg-gray-200': step != 2 }"
        >
          2
        </button>
        <div
          class="lg:w-32 text-base lg:mt-3 ml-3 lg:mx-auto text-slate-600 dark:text-slate-400"
          :class="{ 'font-medium' : step == 2, 'text-base': step != 2}"
        >
          Register your case
        </div>
      </div>
      <!-- step 3 -->
      <div
        class="intro-x lg:text-center flex items-center mt-5 lg:mt-0 lg:block flex-1 z-10"
      >
        <button
          class="w-10 h-10 rounded-full btn dark:bg-dark-1"
          :class="{ 'btn-primary' : step == 3, 'text-gray-600 bg-gray-200': step != 3 }"
        >
          3
        </button>
        <div
          class="lg:w-32 text-base lg:mt-3 ml-3 lg:mx-auto text-slate-600 dark:text-slate-400"
        >
          Send your case
        </div>
      </div>
    </div>
    <!-- wizard content -->
    <div 
      v-if="step === 1"
      class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400"
    >
      <div class="font-medium text-base">Please provide your consent</div>
      <!-- TODO add consent info -->
      <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5"></div>
      <p> Consent approval, by continuing you will accept terms and conditions. </p>
      <br>
      <p><a href="/terms" class="text-primary block font-normal" > Terms and Conditions </a></p>
      <br>
        <div
          class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5"
        >
          <button 
            class="btn btn-secondary w-24"
            :class="{ 'btn-primary' : step == 1, 'text-gray-600 bg-gray-200': step != 1}"
          >
            Previous
          </button>
          <button 
            @click="stepVal(2)"
            class="btn btn-primary w-24 ml-2"
            :class="{ 'btn-primary' : step == 1, 'text-gray-600 bg-gray-200': step != 1}"
          >
            Next
          </button>
        </div>
    </div>
    <div
      v-if="step === 2"
      class="px-5 sm:px-20 mt-10 pt-10 border-t border-slate-200/60 dark:border-darkmode-400"
    >
      <div class="font-medium text-base">Please fill out all the information</div>
      <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
        <div class="intro-y col-span-12 sm:col-span-6">
          <label for="input-wizard-1" class="form-label">City</label>
          <input
            v-model="form.city"
            id="input-wizard-1"
            type="text"
            class="form-control"
            placeholder="add your city"
          />
        </div>
        <div class="intro-y col-span-12 sm:col-span-6">
          <label for="input-wizard-2" class="form-label">Email</label>
          <input
            v-model="form.useremail"
            id="input-wizard-2"
            type="text"
            class="form-control"
            placeholder="example@gmail.com"
          />
        </div>
        <div class="intro-y col-span-12 sm:col-span-6">
          <label for="input-wizard-3" class="form-label">Type of help</label>
          <select  
            v-model="form.type"
            id="input-wizard-3" 
            class="form-select"
          >
            <option v-for="item in Data.types" :value="item">{{ item }}</option>
          </select>
        </div>

        <div class="intro-y col-span-12 sm:col-span-6">
          <label for="input-wizard-4" class="form-label">Select a date <b>range</b> to contact you</label>
            <div class="absolute rounded-l w-10 h-10 flex items-center justify-center bg-slate-100 border text-slate-500 dark:bg-darkmode-700 dark:border-darkmode-800 dark:text-slate-400">
                <CalendarIcon class="w-4 h-4" />
            </div>
            <Litepicker 
              v-model="form.date" 
              id="input-wizard-4" 
              :options="{
                    autoApply: true,
                    numberOfMonths: 1,
                    singleMode: false,
                    numberOfColumns: 2,
                    numberOfMonths: 2,
                    showWeekNumbers: true,
                    dropdowns: {
                      minYear: 2022,
                      maxYear: 2022,
                      months: true,
                      years: false,
                    },
              }" class="form-control pl-12" 
            />
        </div>

        <div class="intro-y col-span-12 sm:col-span-12 h-100">
          <label for="input-wizard-2" class="form-label">Description</label>
          <textarea
            v-model="form.description" 
            id="input-wizard-6"
            name="input-wizard-6"
            type="text"
            class="form-control"
            placeholder="brief description of your issue"
          />
        </div>
        <!-- END-OF-CONTACT-FORM -->
        <div
          class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5"
        >
          <button 
            @click="stepVal(1)"
            class="btn w-24"
            :class="{ 'btn-primary' : step == 2, 'text-gray-600 bg-gray-200': step != 2}"
          >
            Previous
          </button>
          <button 
            @click="stepVal(3),buttonModalPreview = true "
            class="btn w-24 ml-2"
            :class="{ 'btn-primary' : step == 2, 'text-gray-600 bg-gray-200': step != 2}"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- END: Wizard Layout -->

  <!-- BEGIN: Modal Toggle -->
  <Modal backdrop="static" :show="buttonModalPreview" @hidden="buttonModalPreview = false">
      <a @click="stepVal(2), buttonModalPreview = false" class="absolute right-0 top-0 mt-3 mr-3" href="javascript:;">
          <XIcon class="w-8 h-8 text-slate-400" />
      </a>
      <ModalBody class="p-0">
          <div class="p-5 text-center">
              <CheckCircleIcon class="w-16 h-16 text-success mx-auto mt-3" />
              <div class="text-3xl mt-5">Submit your request</div>
              <div class="text-slate-500 mt-2">
                  You are about to receive some help from one of our network members
              </div>
          </div>
          <br>
          <div
            class="intro-x col-span-12 flex items-center justify-center sm:justify-end mt-5 p-3"
          >
            <button 
              @click="stepVal(2), buttonModalPreview = false"
              class="btn w-24"
              :class="{ 'btn-danger' : step == 3, 'text-gray-600 bg-gray-200': step != 3}"
            >
              Cancel
            </button>
            <button 
              @click="submitForm()"
              class="btn w-24 ml-2"
              :class="{ 'btn-success' : step == 3, 'text-gray-600 bg-gray-200': step != 3}"
            >
              Accept
            </button>
          </div>
      </ModalBody>
  </Modal>
  <!-- END: Modal Content -->


<Notification 
  refKey="basicNonStickyNotification" 
  :options="{ duration: 9000, }" class="flex"
>

  <XCircleIcon v-if="TYPE=='error'"  class="text-danger" />
  <CheckCircleIcon v-if="TYPE=='success'" class="text-success" />
  <div class="ml-4 mr-4 font-medium"> {{ MSG }} </div>
  <br>
  <div v-if="TYPE=='error'" class="ml-4 mr-4 font-medium"> {{ MSG2 }} </div>
</Notification>

</template>

<script charset="utf-8">

import Axios from 'axios';
import { useAuth0 } from '@auth0/auth0-vue';
import { useCookies } from "vue3-cookies";
import { ref, provide } from "vue";

export default {
  name: 'Wizard',
  data() {
    return {
      step: 1,
      url: null,
      buttonModalPreview: false,
      MSG: "",
      MSG2: "",
      TYPE: "",
      NOTIFICATION: {
        ERR: { "TYPE": "danger", "MSG": ""},
        SUCCESS: { "TYPE": "success", "MSG": "Your case has been created"}
      },
      form: {},
      date: "",
      Data: {
        personal: {},
        types: [ "unknown", "family legal", "civil matter", "criminal defence", "civil rights", "immigrant", "indigenous" ]
      },
    }
  },
  watch: {
    a() {
      log.console(this.step)
    }
  },
  mounted() {
    //console.log(this.$auth0.idTokenClaims._value.__raw)
    // console.log("[!] cookie", this.$cookies.get("jwtTokenSession"))
  },
  setup() {
    const { loginWithRedirect, isAuthenticated, idTokenClaims } = useAuth0();
    const { cookies } = useCookies();

    if (idTokenClaims._value) {
      cookies.set("jwtTokenSession", idTokenClaims._value.__raw)
      //console.log(idTokenClaims._value.__raw)
      //console.log("[1] cookie setup", cookies.get("jwtTokenSession"))
    }

    const basicNonStickyNotification = ref();
    provide("bind[basicNonStickyNotification]", (el) => {
    // Binding
    basicNonStickyNotification.value = el;
    });

    const basicNonStickyNotificationToggle = (msg) => {
    // Show notification
    basicNonStickyNotification.value.showToast();
    };

    return {
        cookies,
        basicNonStickyNotificationToggle
    }
  },
  methods:{
    submitForm(){

      let AUTH = this.cookies.get("jwtTokenSession")
      
      const headers = {
          'Content-Type': 'application/json',
          'Authorization': "Bearer " + AUTH

      };

      console.log("[!] cookie",this.cookies.get("jwtTokenSession"))

      Axios.post('https://org.anjanahelp.org/v1/case/add', this.form, {withCredentials: true, headers}, )
           .then((res) => {
               //Perform Success Action
               this.buttonModalPreview = false
               console.log("[1]",res) 

               this.MSG = "Your case has been submitted, please wait for a call of one of our representatives"
               this.TYPE = "success"
               this.basicNonStickyNotificationToggle("Your case is submitted")
               this.$router.push("/")
           })
           .catch((error) => {
               // error.response.status Check status code
               this.buttonModalPreview = false

               this.MSG = "An error ocurred please review your information"
               this.MSG2 = error["response"]["data"]["error"]
               this.TYPE = "error"
               this.basicNonStickyNotificationToggle()
               console.log("[err]",error) 
               this.step = 2
           }).finally(() => {
               //Perform action in always
               this.buttonModalPreview = false
           });
    },

    logout() {
      Axios.get("https://auth.anjanahelp.org/v1/auth/logout")
       .then(() => {
          console.log("logged out")
       })
    },

    // Wizard's step
    stepVal(v) {
      this.step = v
    },
    updateData() {
      this.$store.commit('steps/updateDataA', this.Data)
    }
  },
}

</script>
