<template>
  <div class="py-2">
    <!-- <DarkModeSwitcher /> -->
    <!-- <MainColorSwitcher /> -->
    <MobileMenu />
    <!-- BEGIN: Top Bar -->
    <div
      class="border-b border-white/[0.08] mt-[2.2rem] md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10"
    >
      <div class="top-bar-boxed flex items-center">
        <!-- BEGIN: Logo -->
        <router-link
          :to="{ name: 'home' }"
          tag="a"
          class="-intro-x hidden md:flex"
        >
          <img
            alt="Midone Tailwind HTML Admin Template"
            class="w-20"
            src="@/assets/images/logo.png"
          />
          <!-- <span class="text-white text-lg ml-3"> Anjana </span> -->
        </router-link>
        <!-- END: Logo -->
        <!-- BEGIN: Breadcrumb -->
        <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
          <ol class="breadcrumb breadcrumb-light">
          </ol>
        </nav>
        <!-- END: Breadcrumb -->
        <!-- BEGIN: Account Menu -->
        <Dropdown class="intro-x w-8 h-8">
          <DropdownToggle
            tag="div"
            role="button"
            class="w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110"
          >
            <Avatar :colors="['#768BEE', '#AE39C3', '#162343']" />
          </DropdownToggle>
          <DropdownMenu class="w-56">
            <DropdownContent
              class="bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white"
            >
              <!-- TODO UPDATE USER INFO -->
              <!-- <DropdownHeader tag="div" class="!font-normal"> -->
              <!--   <div class="font-medium"> -->
              <!--     {{ $f()[0].users[0].name }} -->
              <!--   </div> -->
              <!--   <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500"> -->
              <!--     {{ $f()[0].jobs[0] }} -->
              <!--   </div> -->
              <!-- </DropdownHeader> -->
              <DropdownDivider class="border-white/[0.08]" />
              <!-- TODO add update info -->
              <!-- <DropdownItem href="javascript:;" @click="headerFooterModalPreview = true" class="hover:bg-white/5"> -->
              <!--   <UserIcon class="w-4 h-4 mr-2" /> Profile -->
              <!-- </DropdownItem> -->

              <!-- <DropdownItem class="hover:bg-white/5"> -->
              <!--   <LockIcon class="w-4 h-4 mr-2" /> Reset Password -->
              <!-- </DropdownItem> -->
              <!-- <DropdownItem class="hover:bg-white/5"> -->
              <!--   <HelpCircleIcon class="w-4 h-4 mr-2" /> Help -->
              <!-- </DropdownItem> -->
              <DropdownDivider class="border-white/[0.08]" />
              <DropdownItem  
                @click="Logout()"
                class="hover:bg-white/5"
              >
                <ToggleRightIcon 
                  class="w-4 h-4 mr-2" /> Logout
              </DropdownItem>
            </DropdownContent>
          </DropdownMenu>
        </Dropdown>
        <!-- END: Account Menu -->
      </div>
    </div>
    <!-- END: Top Bar -->
    <!-- END: Top Menu -->
    <!-- BEGIN: Content -->
    <div class="content">
      <router-view />
    </div>
    <!-- END: Content -->
  </div>


<!-- BEGIN: Modal Content -->
<Modal :show="headerFooterModalPreview" @hidden="headerFooterModalPreview = false">
    <ModalHeader>
        <h2 class="font-medium text-base mr-auto">
            Update Profile
        </h2>
        <button class="btn btn-outline-secondary hidden sm:flex">
            <FileIcon class="w-4 h-4 mr-2" /> Download Docs
        </button>
        <Dropdown class="sm:hidden">
            <DropdownToggle class="w-5 h-5 block" href="javascript:;">
                <MoreHorizontalIcon class="w-5 h-5 text-slate-500" />
            </DropdownToggle>
            <DropdownMenu class="w-40">
                <DropdownContent>
                    <DropdownItem>
                        <FileIcon class="w-4 h-4 mr-2" />
                        Download Docs
                    </DropdownItem>
                </DropdownContent>
            </DropdownMenu>
        </Dropdown>
    </ModalHeader>
    <ModalBody class="grid grid-cols-12 gap-4 gap-y-3">
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-1" class="form-label">From</label>
            <input id="modal-form-1" type="text" class="form-control" placeholder="example@gmail.com" />
        </div>
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-2" class="form-label">To</label>
            <input id="modal-form-2" type="text" class="form-control" placeholder="example@gmail.com" />
        </div>
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-3" class="form-label">Subject</label>
            <input id="modal-form-3" type="text" class="form-control" placeholder="Important Meeting" />
        </div>
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-4" class="form-label">Has the Words</label>
            <input id="modal-form-4" type="text" class="form-control" placeholder="Job, Work, Documentation" />
        </div>
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-5" class="form-label">Doesn't Have</label>
            <input id="modal-form-5" type="text" class="form-control" placeholder="Job, Work, Documentation" />
        </div>
        <div class="col-span-12 sm:col-span-6">
            <label for="modal-form-6" class="form-label">Size</label>
            <select id="modal-form-6" class="form-select">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
    </ModalBody>
    <ModalFooter>
        <button type="button" @click="headerFooterModalPreview = false" class="btn btn-outline-secondary w-20 mr-1">
            Cancel
        </button>
        <button type="button" class="btn btn-primary w-20">
            Send
        </button>
    </ModalFooter>
</Modal>
<!-- END: Modal Content -->

</template>

<script setup>
import { computed, onMounted, provide, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useTopMenuStore } from "@/stores/top-menu";
import { helper as $h } from "@/utils/helper";
import MobileMenu from "@/components/mobile-menu/Main.vue";
import DarkModeSwitcher from "@/components/dark-mode-switcher/Main.vue";
import MainColorSwitcher from "@/components/main-color-switcher/Main.vue";
import Avatar from "vue-boring-avatars";
import { useAuth0 } from '@auth0/auth0-vue';

import {
  searchDropdown,
  showSearchDropdown,
  hideSearchDropdown,
} from "./index";
import { nestedMenu, linkTo } from "@/layouts/side-menu";
import dom from "@left4code/tw-starter/dist/js/dom";
import Axios from 'axios';


const route = useRoute();
const router = useRouter();
const formattedMenu = ref([]);
const topMenuStore = useTopMenuStore();
const topMenu = computed(() => nestedMenu(topMenuStore.menu, route));

const { $cookies } = router.app.config.globalProperties;

const { logout } = useAuth0();

const Logout =() => {
    logout({ returnTo: window.location.origin });
};

const headerFooterModalPreview = ref(false);

provide("forceActiveMenu", (pageName) => {
  route.forceActiveMenu = pageName;
  formattedMenu.value = $h.toRaw(topMenu.value);
});

watch(
  computed(() => route.path),
  () => {
    delete route.forceActiveMenu;
    formattedMenu.value = $h.toRaw(topMenu.value);
  }
);

onMounted(() => {
  dom("body").removeClass("error-page").removeClass("login").addClass("main");
  formattedMenu.value = $h.toRaw(topMenu.value);
});
</script>
