<template>
  <div>
    <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Login Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
          <a href="" class="-intro-x flex items-center pt-5">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="w-20 h-30"
              src="@/assets/images/logo.png"
            />
            <!-- <span class="text-white text-lg ml-3"> Rubick </span> -->
          </a>
          <div class="my-auto">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="-intro-x w-1/2 -mt-16"
              src="@/assets/images/illustration.svg"
            />
            <div
              class="-intro-x text-white font-medium text-4xl leading-tight mt-10"
            >
              A few more clicks to <br />
              sign in to your account.
            </div>
            <div
              class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400"
            >
              Get help from experts near you.
            </div>
          </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
          <div
            class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
          >
            <h2
              class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
            >
              Sign In
            </h2>
            <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">
              A few more clicks to sign in to your account. Manage all your
              e-commerce accounts in one place
            </div>
            <div class="intro-x mt-8">
              <input
                v-model="form.username"
                type="text"
                class="intro-x login__input form-control py-3 px-4 block"
                placeholder="Email"
              />
              <input
                v-model="form.password"
                type="password"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Password"
              />
            </div>
            <div
              class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4"
            >
              <div class="flex items-center mr-auto">
                <input
                  id="remember-me"
                  type="checkbox"
                  class="form-check-input border mr-2"
                />
                <label class="cursor-pointer select-none" for="remember-me"
                  >Remember me</label
                >
              </div>
              <a href="">Forgot Password?</a>
            </div>
            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
              <button
                @click="submitForm()"
                class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
              >
                Login
              </button>
              <router-link
                :to="{ name: 'register' }"
              >
                <button
                  class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top"
                >
                  Register
                </button>
              </router-link>
            </div>
            <div
              class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left"
            >
              By signin up, you agree to our
              <a class="text-primary dark:text-slate-200" href=""
                >Terms and Conditions</a
              >
              &
              <a class="text-primary dark:text-slate-200" href=""
                >Privacy Policy</a
              >
            </div>
          </div>
        </div>
        <!-- END: Login Form -->
      </div>
    </div>
  </div>


<Notification refKey="basicNonStickyNotification" :options="{
                  duration: 3000,
                }" class="flex">

  <XCircleIcon class="text-danger" />
  <div class="ml-4 mr-4 font-medium"> {{ ERR }} </div>
</Notification>

</template>

<script>
import { useAuth0 } from "@auth0/auth0-vue";

export default {
  name: 'Login',
  data() {
    return {
      form: {},
      ERRORS: {
        ERROR1: "Wrong user or password",
        ERROR2: "Not registered, please register",
      },
      ERR: ""
    }
  },

  watch: {
    a() {
      log.console(this.step)
    },
  },

  methods:{
    submitForm(){

      const headers = {
          headers: { 'Content-Type': 'application/json'},
      };

      Axios.post('https://auth.anjanahelp.org/v1/auth/validate', this.form, { withCredentials: true } )
         .then((res) => {
             //Perform Success Action
             this.buttonModalPreview = false
             this.$cookies.set('jwtTokenSession', res.data["msg"])
             if (this.$route.query["from"] ) { 
               dom("body").removeClass("main").removeClass("login")
               this.$router.push(this.$route.query["from"])
             } else {
               dom("body").removeClass("main").removeClass("login")
               this.$router.push("/")
             }
         })
         .catch((error) => {
             // error.response.status Check status code
             // console.log("[validation]",error.response.data["msg"]) 
             this.ERR = error.response.data["msg"]
             this.basicNonStickyNotificationToggle("this test")
         }).finally(() => {
             //Perform action in always
         });
    }
  },

  setup() {

    const basicNonStickyNotification = ref();
    provide("bind[basicNonStickyNotification]", (el) => {
    // Binding
    basicNonStickyNotification.value = el;
    });
    const basicNonStickyNotificationToggle = (msg) => {
    // Show notification
    console.log("[!] noti ", msg)
    basicNonStickyNotification.value.showToast();
    };

    const { cookies } = useCookies();
    const { route } = useRoute()
    return { cookies, route, basicNonStickyNotificationToggle };
  },

  mounted() {
    this.$cookies.set('jwtTokenSession', "")
    dom("body").removeClass("main").removeClass("error-page").addClass("login");
  },

  beforeUnmount() {
    dom("body").removeClass("main").removeClass("login");
  }
}
</script>
