<template>
  <div>
    <div class="container">
      <!-- BEGIN: Error Page -->
      <div
        class="error-page flex flex-col lg:flex-row items-center justify-center h-screen text-center lg:text-left"
      >
        <div class="-intro-x lg:mr-20">
          <img
            alt="Midone Tailwind HTML Admin Template"
            class="h-48 lg:h-auto"
            src="@/assets/images/error-illustration.svg"
          />
        </div>
        <div class="text-white mt-10 lg:mt-0">
          <div class="intro-x text-8xl font-medium">Anjana</div>
          <div class="intro-x text-xl lg:text-3xl font-medium mt-5">
            This project aims to gather probono agents near you willing to help you.
          </div>
          <div class="intro-x text-lg mt-3">
            Please register so you can get help from an agent registered in our db.
          </div>

          <div>
            <router-link
              :to="{ name: 'top-menu-case-new' }"
            >
                <button
                  class="intro-x btn py-3 px-4 text-white border-white dark:border-darkmode-400 dark:text-slate-200 mt-10"
                >
                    Open a New Case
                </button>
            </router-link>
          </div>

        </div>
      </div>
      <!-- END: Error Page -->
    </div>
  </div>
</template>

<script>
    
import { useAuth0 } from "@auth0/auth0-vue";
import { useCookies } from "vue3-cookies";

export default {
  name: 'Login',
  data() {
    return {
      form: {},
      user: this.$auth0.user
    }
  },
  mounted() {
    //console.log(this.isAuthenticated)
  },
  setup() {
      const { loginWithRedirect, isAuthenticated, idTokenClaims } = useAuth0();
      const { cookies } = useCookies();

      if (idTokenClaims._value) {
          cookies.set("jwtTokenSession", idTokenClaims._value.__raw)
          //console.log(idTokenClaims._value.__raw)
          //console.log(cookies.get("jwtTokenSession"))
      }

      return {
        login: () => {
          loginWithRedirect();
        },
        isAuthenticated,
        idTokenClaims
      };
  },

}
</script>
