<template>
  <div>
    <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Register Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
          <a href="" class="-intro-x flex items-center pt-5">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="w-20 h-30"
              src="@/assets/images/logo.png"
            />
          </a>
          <div class="my-auto">
            <img
              alt="Midone Tailwind HTML Admin Template"
              class="-intro-x w-1/2 -mt-16"
              src="@/assets/images/illustration.svg"
            />
            <div
              class="-intro-x text-white font-medium text-4xl leading-tight mt-10"
            >
              A few more clicks to <br />
              sign up to your account.
            </div>
            <div
              class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400"
            >
              Get help from experts near you.
            </div>
          </div>
        </div>
        <!-- END: Register Info -->
        <!-- BEGIN: Register Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
          <div
            class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
          >
            <h2
              class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
            >
              Sign Up
            </h2>
            <div
              class="intro-x mt-2 text-slate-400 dark:text-slate-400 xl:hidden text-center"
            >
              A few more clicks to sign in to your account. Manage all your
              e-commerce accounts in one place
            </div>
            <div class="intro-x mt-8">
              <input
                v-model="form.username"
                type="text"
                class="intro-x login__input form-control py-3 px-4 block"
                placeholder="Add your email"
              />
              <input
                v-model="form.password"
                type="password"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Password"
              />
              <!-- <div class="intro-x w-full grid grid-cols-12 gap-4 h-1 mt-3"> -->
              <!--   <div class="col-span-3 h-full rounded bg-success"></div> -->
              <!--   <div class="col-span-3 h-full rounded bg-success"></div> -->
              <!--   <div class="col-span-3 h-full rounded bg-success"></div> -->
              <!--   <div -->
              <!--     class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800" -->
              <!--   ></div> -->
              <!-- </div> -->
              <input
                type="password"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Password Confirmation"
              />
            </div>
            <div
              class="intro-x flex items-center text-slate-600 dark:text-slate-500 mt-4 text-xs sm:text-sm"
            >
              <input
                id="tos"
                type="checkbox"
                class="form-check-input border mr-2"
                value="done"
              />
              <label class="cursor-pointer select-none" for="tos">I agree all terms of services</label>
              <a class="text-primary dark:text-slate-200 ml-1" href=""
                >Privacy Policy</a
              >.
            </div>
            <div>
                
                <div 
                  @click="submitForm()"
                  class="intro-x mt-5 xl:mt-8 text-center xl:text-left"
                >
                  <button
                    class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
                  >
                    Register
                  </button>
                  <router-link
                    :to="{ name: 'login' }"
                  >
                    <button
                      class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top"
                    >
                      Login
                    </button>
                  </router-link>
                </div>

            </div>

          </div>
        </div>
        <!-- END: Register Form -->
      </div>
    </div>
  </div>


<Notification refKey="basicNonStickyNotification" :options="{
                  duration: 3000,
                }" class="flex">

  <XCircleIcon class="text-danger" />
  <div class="ml-4 mr-4 font-medium"> {{ ERRORS.ERROR1 }} </div>
</Notification>

</template>

<script >
import Axios from 'axios';

import {provide, ref, computed} from 'vue'
import { useRoute } from 'vue-router'
import { useCookies } from "vue3-cookies";

import dom from "@left4code/tw-starter/dist/js/dom";

export default {
  name: 'Register',
  data() {
    return {
      form: {},
      ERRORS: {
        ERROR1: "User already registered",
      }
    }
  },

  methods:{
    submitForm(){
      const headers = {
          headers: { 'Content-Type': 'application/json'},
      };
      Axios.post('https://auth.anjanahelp.org/v1/auth/register', this.form, { withCredentials: true } )
           .then((res) => {
               //Perform Success Action
               console.log("[1]", res) 
               dom("body").removeClass("main").removeClass("login")
               this.$router.push({name: "login"})
           })
           .catch((error) => {
               // error.response.status Check status code
               console.log("[validation]",error) 
               this.basicNonStickyNotificationToggle()
           }).finally(() => {
               //Perform action in always
           });
    },
  },

  setup() {

    const basicNonStickyNotification = ref();
    provide("bind[basicNonStickyNotification]", (el) => {
    // Binding
    basicNonStickyNotification.value = el;
    });
    const basicNonStickyNotificationToggle = () => {
    // Show notification
      basicNonStickyNotification.value.showToast();
    };

    const { cookies } = useCookies();
    const { route } = useRoute()
    return { cookies, route, basicNonStickyNotificationToggle };
  },

  mounted() {
    dom("body").removeClass("main").removeClass("error-page").addClass("login");
  },

  beforeUnmount() {
    dom("body").removeClass("main").removeClass("login");
  }
}
</script>
